/*----------Root y variables-------*/

:root{
	--anton: 'Anton', sans-serif;
	--bebas: 'Bebas Neue', cursive;
	--montserrat: 'Montserrat', sans-serif;
	--quicksand: 'Quicksand', sans-serif;
	--rubik: 'Rubik Beastly', cursive;
	--signika: 'Signika Negative', sans-serif;
	--lobster: 'Lobster', cursive;
	--nunito: nunito-sans, sans-serif;;
	--dark: #222;
	--white: #fff;
	--black: #000;
	--cyan: #0684D0;
	--transparent-black: rgba(0,0,0, 0.4);
}

::selection{
	background: var(--black);
	color: var(--white);
}

/*----------TODO-------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*----------HTML y scrollbar-------*/

html{
	scroll-behavior: smooth;
	scrollbar-width: thin;        
  	scrollbar-color: var(--cyan) var(--white);
}

html::-webkit-scrollbar {
    -webkit-appearance: none;
}

html::-webkit-scrollbar:vertical {
    width: 8px;
    background: var(--white);

}

html::-webkit-scrollbar-thumb {
    background-color: var(--cyan);
}

/*----------Cabezera de Carro-------*/

.carro{
	max-width: 100%;
	position: relative;
	background: url('https://t2.ev.ltmcdn.com/es/posts/8/7/5/las_estrellas_tienen_luz_propia_1578_600.jpg');
	overflow: hidden;
}

.calle{
	position: absolute;
	height: 20px;
	width: 100%;
	background: var(--dark);
	bottom: 0;
	box-shadow: inset 0px -4px 10px rgba(255, 255, 255, .3), inset 0px 4px 10px #000;
}

.calle::after{
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	border-bottom: 2px dashed rgba(255, 255, 0, .2);
}

.img-carro{
	width: 100px;
	transform: scaleX(-1);
	filter: drop-shadow(4px 4px 4px var(--black));
	filter: ;
	animation: rodar 4s ease-in infinite;
}

.morado{
	filter: hue-rotate(290deg);
}

.azul{
	filter: hue-rotate(240deg);
}

.verde{
	filter: hue-rotate(90deg);
}

/*----------Header-------*/

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--dark);
	box-shadow: 0px 2px 10px var(--cyan);
	border-bottom: 5px double var(--cyan);
	border-top: 5px double var(--cyan);
	overflow: hidden;
}

header .logo{
	width: 10em;
	padding: .4em .5em;
	transition: .2s;
}

header .logo:hover{
	transform: scale(1.07);
	cursor: pointer;
	filter: drop-shadow(9px 6px 2px var(--black));
}

header nav{
	display: flex;
	flex-wrap: wrap;
}

header nav li{
	list-style: none;
	padding: 1.1em 2.1em;
	transition: .2s;
}

header nav li:hover{
	transform: scale(1.2);
	cursor: pointer;
}

header nav li a{
	text-decoration: none;
	font-family: var(--bebas);
	color: var(--white);
	font-size: 1.7em;
	transition: color .1s, text-shadow .1s;
}

header nav li:hover a{
	text-shadow: 9px 5px 2px var(--black);
}

/*----------Main-------*/

main{
	height: 34em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10vh;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.main-index{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/main-index.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


main h1{
	font-size: 3.5em;
	font-family: var(--bebas);
	color: var(--white);
	animation: entrar 1s ease-in-out;
}

main p{
	font-size: 1.5em;
	font-family: var(--nunito);
	font-weight: 800;
	color: var(--white);
	animation: entrar 1s ease-in-out;
}

/*----------Productos-------*/

#productos{
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	padding: 6em 5em 3em 5em;
	justify-content: center;
	align-items: center;
	font-family: var(--signika);
	font-weight: 800;
}

#productos h1{
	font-size: 40px;
}

#productos h2, .mucho-mas{
	margin-bottom: 2em;
}


#productos .cards{
	display: flex;
	width: 90%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
}

#productos .cards .card{
	position: relative;
	width: 17em;
	height: 20em;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	cursor: default;
	margin-right: 2em;
}

.card h3{
	position: relative;
	font-family: var(--signika);
	font-size: 2em;
	opacity: 0;
	color: #fff;
	z-index: 2;
	transition: .6s;
}

.card h3 img{
	float: left;
	opacity: 0.4;
	margin-right: 10px;
}

.card::after{
	content: '';
	position: absolute;
	top: 20em;
	right: 17em;
	width: 25em;
	height: 30em;
	border-radius: 50%;
	background: linear-gradient(var(--transparent-black), var(--black));
	transition: .5s;
}

.card:hover::after{
	top: -5em;
	right: -5em;
}

.card:hover h3{
	opacity: 1;
}

.card-1{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/corolla-cross.jpg');
}

.card-2{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/mazda.jpg');
}

.card-3{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/chevrolet.jpg');
}

.card-4{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/renault.jpg');
}


/*----------Catalogo-------*/


.main-catalogo{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/main-catalogo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.catalogo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3em 4em;
	gap: 4em;
	font-family: var(--nunito);
}

.catalogo .autos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 5em;
}

.catalogo .tarjeta{
	position: relative;
	width: 17em;
	height: 24em;
	transition: .4s;
	-webkit-box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.34); 
	box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.34);
	transform: rotate3d(1, 2.0, 3.0, 2deg);
}

.catalogo .tarjeta:hover{
	opacity: .9;
	transform: rotate3d(1, 2.0, 3.0, 0deg);
}

.catalogo .tarjeta::before{
	content: url('../imgs/click.gif');
	position: absolute;
	transform: translateX(-7em) scale(0.5);
	transition: .3s;
}

.catalogo .tarjeta:hover::before{
	opacity: 0;
}

.catalogo .tarjeta .info{
	position: absolute;
	width: 90%;
	height: 70%;
	background: linear-gradient(var(--black), var(--transparent-black)), url('../imgs/main-index.jpg');
	background-size: cover;
	background-position: center;
	backdrop-filter: blur(6px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.8em;
	gap: 0.3em;
	right: -3em;
	top: -3em;
	z-index: 2;
	opacity: 0;
	box-shadow: 2px 2px 7px var(--dark);
	transition: opacity .4s, box-shadow 1.3s;
	border-radius: 10%;
	color: var(--white);
}

.catalogo .tarjeta:hover > .info{
	opacity: 1;
	cursor: default;
	box-shadow: 4px 4px 22px var(--dark);
}

.catalogo .tarjeta .info h4{
	text-transform: uppercase;
	text-align: center;
}


.catalogo .tarjeta .info p{
	font-size: calc(100% - 4px);
}

.chevrolet-onix{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/chevrolet-onix.jpg');
	background-size: cover;
	background-position: center;
}


.mazda-cx-5{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/mazda-cx-5.jpg');
	background-size: cover;
	background-position: center;
}

.corolla{
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/toyota-corolla.jpg');
	background-size: cover;
	background-position: center;
}

/*-------------Acerca_de------------*/

.main-acerca-de{
	background: linear-gradient(var(--transparent-black), var(--cyan)), url('../imgs/main-acerca-de.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	clip-path: none;
	height: 20em;
	margin-bottom: 3em;
	position: relative;
}

.main-acerca-de h1{
	animation: entrar-der 1s ease-in-out;
}

.main-acerca-de::before{
	position: absolute;
	content: '';
	border: 40px solid var(--cyan);
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: -5em;
}

.main-acerca-de::after{
	position: absolute;
	content: '';
	border: 20px solid var(--white);
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: -2.7em;
	animation: baja 1.5s infinite;
}

.info-acerca-de{
	min-height: 80vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.vision, .mision, .que-hacemos{
	height: 60vh;
	width: 20em;
	font-family: var(--signika);
	display: flex;
	flex-direction: column;
	transition: .1s;
}

.vision:hover, .mision:hover, .que-hacemos:hover{
	outline: 3px solid var(--cyan);
}

.vision:hover .cabecera, .mision:hover .cabecera, .que-hacemos:hover .cabecera{
	background: var(--cyan);
	color: var(--white);
}

.cabecera{
	text-align: center;
	background: #f1f1f1;
	padding: 3em;
	font-weight: 800;
	font-size: 20px;
	transition: .2s;
}

.texto{
	padding: 2.5em;
	background: #f9f9f9;
	overflow: auto;
	height: auto;
}

/*---------------------Contactanos_-------------------*/


#contacto{
	min-height: 90vh;
	background: linear-gradient(var(--transparent-black), var(--transparent-black)), url('../imgs/contactanos.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor-form{
	margin: 5em;
	padding: 7em 5em;
	background: var(--transparent-black);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: var(--white);
	font-family: var(--nunito);
	width: 80vw;
	transition: .5s;
}

.contenedor-form:hover{
	background: rgba(0, 0, 0, .8);
}


.contenedor-form div{
	width: 30vw;
	display: flex;
	flex-direction: column;
	gap: 3em;
	font-size: calc(100% + 2px);
}

.contenedor-form .info-contacto{
	display: flex;
	gap: 5px;
}

.form{
	display: inline-flex;
	flex-direction: column;
	width: 50%;
	z-index: 2;
}

.form h2{
	margin-bottom: 1em;
}

.form input, .form textarea{
	width: 100%;
	padding: 0.5em;
	border: none;
	border-bottom: 2px solid var(--white);
	background: none;
	font-family: var(--nunito);
	font-size: 1.2em;
	font-weight: 800;
	color: var(--white);
	margin-bottom: 1em;
}

.form textarea{
	height: 8em;
	margin-top: 0.8em;
}

.form input:focus, .form textarea:focus{
	outline: none;
	border-width: 3px;
}

.form input::placeholder{
	padding-left: 0.5em;
}

.form input:last-of-type{
	width: 50%;
	background: var(--cyan) !important;
	margin: 0.5em auto;
}

.form input[type=number]::-webkit-inner-spin-button, .form input[type=number],
  .form input[type=number]::-webkit-outer-spin-button{
  	-webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield !important;
}

.lines {
	color: #fff;
	position: relative;
}

.lines svg {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.lines rect {
	width: 100%;
	height: 100%;
	stroke: var(--cyan);
	stroke-width: 10px;
	stroke-dasharray: 300;
	stroke-dashoffset: 400;
	transition: .6s ease all;
}

.lines:hover rect {
	stroke-dashoffset: 0;
}

/*-----------------------Footer----------------------*/

footer{
	background: #f9f9f9;
	display: flex;
	flex-direction: column;
	font-family: var(--signika);
	padding: 2em 2em 1em 2em;
	box-shadow: inset 0px -1px 15px var(--dark);
}

footer .contenido{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer .contenido .redes{
	font-size: 26px;
	display: inline-flex;
	flex-direction: row;
	gap: 1em;
}

footer .contenido .redes a{
	text-decoration: none;
	color: #000;
	transition: .5s;
}

footer .contenido .redes a:hover{
	color: var(--cyan);
}

footer .contenido .noticias{
	display: inline-flex;
	flex-direction: row;
	font-size: 15px;
	align-items: center;
}

footer .contenido .noticias a{
	padding: 0.5em 1em;
}


footer .contenido .noticias input{
	border-radius: 10px;
	margin: 0 1em;
	width: 10em;
	padding: 0.5em 0.8em;
	transition: .7s;
	border: 2px solid var(--black);
	outline: none;
}

footer .contenido .noticias input:focus{
	border-color: var(--cyan);
}

footer .contenido .links{
	display: inline-flex;
	flex-direction: column;
	font-size: 15px;
	gap: 0.3em;
}

footer .contenido .links a{
	color: var(--black);
}

footer .autor{
	text-align: center;
}

footer .autor i{
	color: red;
}

.dark{
	background: var(--dark);
	color: var(--white);
}

.dark .contenido .redes a, .dark .contenido .links a{
	color: var(--white);
}

/*------------------Estilos universales----------------*/

.btn{
	text-decoration: none;
	color: var(--white);
	border-radius: 20px;
	padding: 1em 2.5em;
	transition: .4s;
	border: none;
	font-family: var(--signika);
}

.btn:hover{
	background: #0270B3;
	cursor: pointer;
}

.cyan{
	background: var(--cyan);
}

.p-1{
	padding: 1em;
}

.p-2{
	padding: 2em;
}

/*---------------------Animaciones---------------------*/

@keyframes rodar{
	from{
		transform: translateX(100vw);
	}to{
		transform: translateX(-20vw);
	}
}

@keyframes rotar{
	from{
		transform: rotate3d(0, 0, 0, 0deg);
	}to{
		transform: rotate3d(360, 360, 360, 360deg);
	}
}

@keyframes entrar{
	from{
		transform: translateX(-220px);
		opacity: 0;
	}to{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes entrar-der{
	from{
		transform: translateX(220px);
		opacity: 0;
	}to{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes baja{
	0%{
		transform: translateY(-20px);
		opacity: .5;
	}50%{
		transform: translateY(0px);
		opacity: 1;
	}100%{
		transform: translateY(-20px);
		opacity: .5;
	}
}
